body {
  background: #151515;
}
.dark-mode {
  background: #151515;
}
.light-mode {
  background: #efefef;
}
@font-face {
  font-family: Valorant;
  src: url("./fonts/Valorant.ttf") format("truetype");
}
@font-face {
  font-family: SourceCode;
  src: url("./fonts/SourceCode.ttf") format("truetype");
}
@font-face {
  font-family: Brush;
  src: url("./fonts/Brush.ttf") format("truetype");
}
.container {
  position: relative;
}
.header {
  user-select: none;
  position: fixed;
  height: 2em;
  top: -.5px;
  padding: 0 2px;
  width: 100.5vw;
  margin: 0 3px;
  right: 0em;
  display: flex;
  background: #313131;
  justify-content: left;
  align-items: center;
  z-index: 2;
}
.light-mode .header {
  background: #9b9b9b;
}
.light-mode .profile {
  background: #1d1d1d;
}
.light-mode #mode {
  color: black;
}
.light-mode #clock {
  color: #d9d9d9;
}
#logo {
  position: relative;
  left: .5em;
  width: 4.5em;
  height: 4.5em;
}
#name {
  font-family: Valorant;
  color: white;
  font-size: .8em;
  top: -3px;
  letter-spacing: -1.5px;
  position: relative;
  left: 0em;
}
#motto {
  font-family: SourceCode;
  font-size: 0.5em;
  top: 5px;
  left: -8.6em;
  color: white;
  position: relative;
}
#clock {
  color: #848484;
  position: absolute;
  right: 1em;
  letter-spacing: -1.5px;
  font-weight: bold;
  font-size: .8em;
  font-family: SourceCode;
}
.content {
  position: relative;
  z-index: 1;
  justify-content: center;
  top: 5em;
}
.profile {
  position: relative;
  display: inline-block;
  top: 1.5em;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  height: auto;
  user-select: none;
  width: 90%;
  background: #f0f0f0;
}
.top {
  height: 5.5em;
  border-radius: 5px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #37ceff;
  z-index: 3;
}
#icons {
  z-index: 3;
  position: absolute;
  right: 1.5em;
  height: 4em;
  border-radius: 3em;
  width: 4em;
}
#names {
  font-size: 1.5em;
  position: absolute;
  font-weight: bold;
  top: 1.3em;
  left: 1.6em;
  font-family: Valorant;
  color: black;
}
#hi {
  font-family: SourceCode;
  font-size: .8em;
  position: absolute;
  color: black;
  top: 1.4em;
  left: 3.2em;
  letter-spacing: 6.5px;
}
#gweh {
  font-family: SourceCode;
  color: black;
  position: absolute;
  left: 2.5em;
  top: 2.8em;
}
#mode {
  position: absolute;
  right: .5em;
  bottom: -1.5em;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}
.stat {
  position: relative;
  top: .5em;
  height: 46vw;
}
.photo {
  object-fit: content;
  width: 34vw;
  position: absolute;
  border-radius: 8px;
  top: 4.5vw;
  left: 3vw;
}
#description {
  font-family: SourceCode;
  position: absolute;
  background: #e1e1e1;
  color: #7f7f7f;
  font-weight: bold;
  font-size: 1.5vw;
  letter-spacing: -.5px;
  top: 5vw;
  width: 44vw;
  padding: .5em .5em;
  border-radius: 8px;
  line-height: 2.3vw;
  line-height: 1.3vw;
  right: 3vw;
  text-align: left;
}
#folder {
  background: #37ceff;
  display: flex;
  font-family: Valorant;
  color: white;
  text-align: center;
  position: relative;
  height: 10%;
  border-radius: 8px;
  font-size: 2.5vw;
  top: -1.25vw;
  left: -.76vw;
  font-weight: bold;
  letter-spacing: 3px;
  padding: .5em .5em;
  width: 97.5%;
}
.light-mode #about {
  color: white;
}
#about {
  font-family: Valorant;
  font-weight: bold;
  font-size: 3.2vw;
  position: relative;
  color: black;
  z-index: 2;
}
#display {
  user-select: none;
  width: 100%;
  height: 11.2em;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: 0;
  overflow: visible;
  overflow-y: hidden;
  overflow-x: auto;
  border-radius: 8px;
  justify-content: center;
  top: 8em;
  text-align: center;
  background: #2b2b2b;
}
#prjk {
  position: absolute;
  padding: 1em .5em;
  display: block;
  color: black;
  background: #37ceff;
  border-radius: 8px;
  width: calc(97.15% + 1vw);
  font-family: Valorant;
}
.app {
  width: calc(5em + 2vw);
  position: relative;
  padding: 7px 2px;
  text-align: center;
  box-sizing: border-box;
  transition: all 1s ease;
  color: black;
  top: 3.5em;
  margin: .2em .2em;
  background: white;
  border-radius: 5px;
  height: calc(5em + 3vw);
}
.app:hover {
  width: 15em;
  height: calc(5em + 3vw);
}
.app a {
  font-size: calc(.35em + 1vw);
  font-weight: bold;
  font-family: SourceCode;
  transition: all 1s ease;
  position: relative;
  letter-spacing: -.3px;
}
.app:hover a {
  top: 5%;
  position: absolute;
  right: 15%;
}
.app img {
  width: calc(2.9em + 3vw);
  position: relative;
  top: 0px;
  transition: all 1s ease;
  border-radius: 5px;
  height: calc(2.9em + 3vw);
}
.app:hover img {
  position: absolute;
  width: 35%;
  object-fit: contain;
  left: .4em;
  top: .9em;
}
.app p {
  opacity: 0;
  transition: all .5s ease;
  position: absolute;
  font-size: .5em;
  padding: 3px;
  border-radius: 5px;
  width: 53%;
  height: 45%;
  text-align: center;
  font-family: SourceCode;
  overflow: auto;
  background: #e1e1e1;
}
.app:hover p {
  opacity: 1;
  text-align: left;
  width: 48%;
  letter-spacing: -.5px;
  line-height: .95em;
  left: calc(49% - 3px - .8vw);
  top: calc(.6em + 1vmax);
}
.app c {
  opacity: 0;
  position: absolute;
  left: 1em;
  bottom: .5em;
  font-size: .6em;
  font-family: SourceCode;
}
.app:hover c {
  opacity: 1;
}
#hrs {
  z-index: 1000;
  position: fixed;
  font-family: SourceCode;
  justify-content: center;
  text-align: center;
  user-select: none;
  margin: 0 auto;
  bottom: 0px;
  font-size: .3em;
}
.app .link {
  opacity: 0;
  position: absolute;
  width: .85em;
  height: .85em;
}
.app:hover .link {
  opacity: 1;
  justify-content: center;
  text-align: center;
  justify-items: center;
  bottom: .4em;
  right: 1em;
}
.app .link i {
  opacity: 0;
  align-items: center;
  text-align: center;
  font-size: 1em;
  bottom: -.15em;
  right: 0em;
  position: absolute;
}
.app:hover .link i {
  opacity: 1;
}
#video {
  width: 99%;
  margin: 0 auto;
  border-radius: 8px;
  top: 8.7em;
  user-select: none;
  position: relative;
  background: #2b2b2b;
  height: 39vw;
}
#video iframe {
  user-select: none;
  width: 49%;
  position: absolute;
  left: .7em;
  top: 13%;
  height: 80%;
  frameborder: 0;
}
#video a {
  font-size: calc(.3em + 1.3vw);
  font-family: SourceCode;
  letter-spacing: -1px;
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 4%;
  left: 5%;
  right: 5%;
}
#video b {
  font-size: calc(.3em + .9vmin);
  position: absolute;
  justify-self: center;
  text-align: left;
  align-items: center;
  border-radius: 4px;
  right: 2%;
  top: 13%;
  height: 2.8vh;
  color: white;
  width: 45%;
  background: #4a4a4a;
  font-family: SourceCode;
}
#video p {
  width: 43%;
  white-space: pre-wrap;
  font-size: calc(.5em + .8vmin);
  background: #4a4a4a;
  line-height: calc(.5em + .8vmin);
  letter-spacing: -.5px;
  padding: 1%;
  position: absolute;
  overflow: auto;
  color: white;
  right: 2%;
  font-family: SourceCode;
  top: 16.8%;
  height: 70%;
}
#tools {
  position: relative;
  margin: 0 auto;
  top: 9.6em;
  height: 25vw;
  background: #2b2b2b;
  border-radius: 8px;
  width: 99%;
}
#tools #tls {
  background: #37ceff;
  position: relative;
  user-select: none;
  font-family: Valorant;
  font-size: 2.5vw;
  font-weight: bold;
  display: block;
  padding: 4px 9px;
  height: auto;
  top: -.5em;
  border-radius: 4px;
  width: 55%;
}
.stress {
  position: absolute;
  left: 2%;
}
.stress div {
  color: white;
  user-select: none;
  position: relative;
  background: #4a4a4a;
  border-radius: 8px;
  width: 47vw;
  height: 20vw;
}
.stress div b {
  position: absolute;
  top: 2%;
  width: 100%;
  font-family: SourceCode;
  font-size: 2.6vw;
  display: block;
  text-align: center;
}
.stress div #waifu {
  border: 1px solid #37ceff;
  background: #bbeeff;
  font-family: SourceCode;
  text-align: center;
  position: absolute;
  top: calc(8% + 2.5vw);
  height: 13%;
  width: 60%;
  left: 5%;
  border-radius: 2px;
}
.stress div #generate {
  border: 1px solid #37ceff;
  color: white;
  position: absolute;
  border-radius: 2px;
  right: 5%;
  height: 17.2%;
  width: 25%;
  top: calc(8% + 2.5vw);
  background: black;
  font-family: SourceCode;
  text-align: center;
  font-size: 1.5vw;
}
.stress div a {
  width: 90%;
  background: #1c1c1c;
  color: white;
  position: absolute;
  display: block;
  user-select: text;
  right: 5%;
  left: 5%;
  border-radius: 4px;
  height: 50%;
  padding: 2px;
  overflow: auto;
  font-family: Sans-Serif;
  font-size: .65em;
  bottom: 5%;
}
.stress div #copy {
  width: 14%;
  text-align: center;
  left: 5%;
  padding: 1px 0;
  font-size: 2vw;
  align-content: center;
  align-items: center;
  height: 18%;
  position: absolute;
  top: 2%;
}
.uuid {
  position: absolute;
  right: 1.5%;
}
.uuid div {
  position: relative;
  user-select: none;
  border: 1px solid #37ceff;
  width: 44.5vw;
  color: white;
  border-radius: 8px;
  height: 8vw;
  background: #4a4a4a;
}
.uuid div #refresh, .uuid div #copy {
  position: absolute;
  width: 10%;
  font-size: 3.2vw;
  border-radius: 2px;
  padding: 0 2px;
  text-align: center;
  height: 46%;
}
.uuid div #refresh i, .uuid div #copy i {
  text-align: center;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
}
.uuid div #refresh {
  left: 2%;
  top: 4%;
}
.uuid div #copy {
  top: 4%;
  left: 14%;
}
.uuid div #genId {
  position: absolute;
  bottom: 8%;
  padding: 2px;
  font-size: 2vw;
  background: #1c1c1c;
  user-select: text;
  left: 2%;
  right: 2%;
  font-family: Sans-Serif;
  overflow: auto;
  width: 94%;
  border-radius: 2px;
}
.uuid div b {
  font-family: SourceCode;
  font-size: 3vw;
  top: 2%;
  position: absolute;
  left: 27%;
}